.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.env
.streamlit/secrets.toml
.streamlit/server.err.log
.streamlit/server.out.log
streamlit.err.log
streamlit.out.log
server.err.log
server.out.log
dist
build
.pytest_cache
.mypy_cache
.ruff_cache
src/model/kaggle_liveness_data
src/model/kaggle_liveness_subset
src/model/liveness_dataset
SIKHASHASATHI
