venv/
.venv/
__pycache__/
*.pyc
*.log
streamlit.*.log
.env
.vscode/
.streamlit/
dist/
.streamlit/secrets.toml
src/model/kaggle_liveness_data/
src/model/kaggle_liveness_subset/
src/model/liveness_dataset/
.venv/
venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
SIKHASHASATHI/
